.container {
    padding: 0 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    /* max-width: 700px; */
    margin-left: 400px;
    min-width: 500px;
    min-height: 100vh;
    height: 100%;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    z-index: 11;
    overflow: hidden;
    width: calc(100% - 400px);
}

@media screen and (max-width: 720px) {
    .page {
        margin-left: 0px;
    }
}