.tweet {
  margin: auto;
  max-width: 600px;
  overflow: hidden;
  padding: 25px 10px;
  display: flex;
  flex-direction: row;
  /* background-color: white; */
  color: black;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.avatar {
  /* border: 1px solid green; */
  width: 12%;
  display: flex;
  cursor: pointer;
}

.menu {
  width: 3%;
}

.avatar img {
  margin: 0px auto;
  width: 45px;
  height: 45px;
}

.tweetContent {
  /* border: 1px solid saddlebrown; */
  width: 100%;
  padding: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* border: 1px solid green; */
}

.menu {
  /* border: 1px solid pink; */
  height: 100%;
  cursor: pointer;
}



.user {
  display: flex;
  flex-direction: column;
}



/* 
.header span {
  display: block;
  margin-bottom: 6px;
} */

.handle {
  color: grey;
}

.tweetBody {
  /* border: 1px solid red; */
  line-height: 25px;
  /* width: 85%; */
}

.date {
  padding-top: 20px;
  color: #6C7997;
}



.tweetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweetHeader .tweetHeaderDate {
  font-size: 0.8rem;
  color: grey;
}

.tweetHeaderLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweetHeaderRight {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.tweetHeaderAvatar {
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 50%;
}

.tweetHeaderName {
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.tweetHeaderHandle {
  font-size: 0.8em;
  color: grey;
}

.tweetBody {
  margin-top: 10px;
  font-size: 1.1em;
}

.tweetFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.tweetFooterLeft {
  display: flex;
  align-items: center;
}

/* border: 1px solid yellow; */

.tweetFooterLeft .tweetRetweet {
  font-size: 0.8rem;
  color: grey;
}

.tweetFooterLeft .tweetRetweet .retweetCount {
  font-size: 1.2rem;
  font-weight: bold;
}

.tweetFooterRight {
  display: flex;
  align-items: center;
}

.tweetFooterRight .tweetLikes {
  font-size: 0.8rem;
  color: grey;
}

.tweetFooterRight .tweetLikes .likeIcon {
  margin-right: 5px;
}

.container {
  /* border: 1px solid yellow; */
  padding: 6px 4px;
}

.tweetFooterLikeIcon,
.tweetFooterLikeIconFill,
.tweetFooterRetweetIcon,
.tweetFooterReplyIcon {
  margin-right: 5px;
}



.tweetFooterLikeIconFill {
  fill: #e0245e;
}


.tweetFooterReplyIcon {
  fill: #2b3f57;
}

.tweetFooterReply,
.tweetFooterRetweet,
.tweetFooterLike {
  align-items: center;
  display: flex;
  color: #8899a6;
  font-size: 0.9rem;
}

.tweetFooterReply:hover,
.tweetFooterRetweet:hover,
.tweetFooterLike:hover,
.tweetMenuIcon:hover {
  cursor: pointer;
}


.tweetBody a {
  color: #1da1f2;
  text-decoration: none;
}