.hello {
    color: green
}

.container {
    width: 300px;
    height: 200px;
    border: 1px solid green;
    border-radius: 8px;
    position: absolute;
    width: 200px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;

}