.container {
    width: 300px;
    height: fit-content;
    min-height: 100px;
    max-height: 250px;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 8px;
    position: absolute;
    padding: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(251, 244, 234);
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.name,
.username {
    display: block;
    margin: 0px;
}

.username {
    color: grey;
    font-size: 0.8rem;
}

.description {
    padding: 6px;
    /* color: #adb3b8; */
    font-size: 0.9rem;

}

.stats {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 6px;
    color: #adb3b8;
    color: grey;
}

.stat {
    margin-right: 5px;
}