/* .container {
    padding: 0 0rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
} */

.container {
    padding: 0 0rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    min-height: 100vh;
    height: 100%;
    border-right: 2px solid grey;
    position: relative;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 700px;
    border: 1px solid grey;
    background-color: rgb(255, 238, 213);
    border: 1px solid green;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
}

.backArrow {
    border: 1px solid red;
    cursor: pointer;
}

.backArrow:hover {
    background-color: rgb(244, 223, 193);
}

.header h1 {
    margin: 0px;
    font-size: 21px;
    margin-left: 10px;
}

@media screen and (max-width: 1100px) {
    .header {
        width: calc(100% - 400px);
    }
}

@media screen and (max-width: 720px) {
    .header {
        width: 100%;
    }

}

.main {
    margin-top: 60px;
}

.profile {
    padding: 30px 10px;
}

.lists {
    padding: 10px;
}

.owner img {
    border-radius: 50%;
    margin: 4px
}

.profile h1 {
    margin: 0px;
    margin-bottom: 6px;
}

.lists img {
    border-radius: 50%;
    margin: 4px
}

.container ul {
    list-style-type: none;
    padding: 0px;
}

.list {
    /* border: 1px solid pink; */
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.list:hover {

    background-color: rgb(232, 223, 210);
}

.list h4 {
    margin: 0px;
    font-size: 18px;
    cursor: pointer;
}

.description {
    margin: 0px;
    font-size: 14px;
    line-height: 22px;
    color: rgb(217, 214, 214);
}

.lists ul {
    list-style-type: none;
    /* padding: 0px; */
}

.list .owner {
    align-items: center;
    display: flex;
    padding: 0px 5px;
}


.followButton,
.unFollowButton {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.unFollowButton {
    background-color: #1b222a;
    color: white;
}

.backArrow {
    border: 1px solid red;
    cursor: pointer;
}

.backArrow:hover {
    background-color: rgb(244, 223, 193);
}

.header h1 {
    margin: 0px;
    font-size: 21px;
    margin-left: 10px;
}