.container {
    padding: 0 0rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    min-height: 100vh;
    height: 100%;
    border-right: 2px solid grey;
    position: relative;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 700px;
    border: 1px solid grey;
    background-color: rgb(255, 238, 213);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    align-items: center;
}



.backArrow {
    border: none;
    color: black;
    border-radius: 50%;
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.backArrow:hover {
    background-color: rgb(246, 228, 202);
}

.header h1 {
    margin: 0px;
    font-size: 21px;
    margin-left: 10px;
}

@media screen and (max-width: 1100px) {
    .header {
        width: calc(100% - 400px);
    }
}

@media screen and (max-width: 720px) {
    .header {
        width: 100%;
    }

}

.list {
    margin-top: 60px;
}

.list {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0px;
    border-bottom: 3px solid grey;
}

.list h1 {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.metrics {
    display: flex;
    justify-content: center;
    /* border: 1px solid pink; */
    margin: 0;
}

.list span {
    margin: 10px 5px;
}

.metrics p {
    margin: 0rem 1rem;
}

.owner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid pink; */
    margin: 0
}

.owner:hover {
    cursor: pointer;
}

.owner img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}

.subtext {
    color: rgb(77, 75, 75);
}

.list button:hover {
    cursor: pointer;

}


.listTimeline {
    padding: 3rem 3rem;
    align-items: center;
}

.tweetContainer2 {
    margin: auto;
    max-width: 600px;
    border: 1px solid grey;

}

.followButton,
.unFollowButton {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.unFollowButton {
    background-color: #346195;
    color: white;
}

.followButton {
    background-color: rgb(249, 224, 190);
    color: black;
    border: 1px solid grey;
}

/* ################################* Members Modal *######################################### */


.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    max-width: 600px;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    background-color: rgb(251, 244, 234);
}



.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid grey;
}

.modalHeader h1 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}



.closeModal {
    border: none;
    color: black;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.closeModal:hover {
    background-color: rgb(239, 230, 217);
}

.main {
    overflow-y: scroll;
    max-height: 500px;
}

.modal img {
    border-radius: 50%;
    margin: 4px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid grey;
}

.editMembers ul {
    padding: 0;
}

.editMembers li {
    list-style-type: none;
    padding: 10px 30px;
    display: flex;
    align-items: justify-between;
    justify-content: flex-start;
}

.editMembers li:hover {
    cursor: pointer;
    background-color: rgb(210, 203, 192);
}

.editMembers ul li {
    display: flex;
    align-items: center;
}

.editMembers ul li .user {
    width: 90%;
}

.editMembers {
    display: flex;

}

.editMembers button {
    margin: 5px;
    padding: 10px;
    height: fit-content;
}

.modal span {
    margin-bottom: 6px;
}

.memberInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.modal::-webkit-scrollbar {
    width: 0;
    height: 0;
}



.memberCount {
    cursor: pointer;
}



.selectedMembers ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.selectedMembers ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid #1da1f2;
    border-radius: 12px;
    background-color: #dbeaf3;
    padding: 0px;
    margin-right: 5px;
    margin-bottom: 4px;
    text-align: center;
}

.selectedMembers ul li svg {
    cursor: pointer;
}

.selectedMembers span {
    margin: auto;
}

.selectedMembers img {
    border-radius: 50%;

    width: 20px;
    height: 20px;
}

.addMembers {
    margin-bottom: 10px;
    min-height: 420px;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addMembers input {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    font-size: 18px;
}

.addMembers button {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    font-size: 18px;
    border: none;
    background-color: #1da1f2;
    color: white;
    border-radius: 5px;
}


.suggestions {
    border: 1px solid #1da1f2;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.suggestions ul {
    list-style: none;
    margin: 0px;
    padding: 0px
}

.suggestions ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0px;
    background-color: white;
}

.suggestions ul li:hover {
    cursor: pointer;
}


.suggestions img {
    border-radius: 50%;
    margin: 3px 8px;
}

.active,
.passive {
    height: 100%;
    width: 50%;
    padding: 12px 20px;
    text-align: center;
    border: 1px solid grey;
}

.active h2,
.passive h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}


.active {
    background-color: rgb(251, 244, 234);
}

.passive {
    color: grey;
    cursor: pointer;
}

.modalRoutes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editMembers button {
    background-color: antiquewhite;
    border-radius: 4px;
    padding: 12px 8px;
}

.list button:hover {
    outline: 1px solid rgb(56, 56, 56);
}

.addMembers button {
    cursor: pointer;
}