.container {
    padding: 0 0rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.list {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0px;
    border-bottom: 3px solid grey;
}

.list h1 {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.metrics {
    display: flex;
    justify-content: center;
    /* border: 1px solid pink; */
    margin: 0;
}

.list span {
    margin: 10px 5px;
}

.metrics p {
    margin: 0rem 1rem;
}

.owner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid pink; */
    margin: 0
}

.owner:hover {
    cursor: pointer;
}

.owner img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}

.subtext {
    /* set slightly less white color */
    color: #b3b2b2;
}

.list button:hover {
    cursor: pointer;

}


.listTimeline {
    padding: 3rem 3rem;
}

.followButton,
.unFollowButton {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.unFollowButton {
    background-color: #1b222a;
    color: white;
}


.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    background-color: #222b35;
}

.closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ccc;
    cursor: pointer;
}

.main {
    padding: 20px 0px;
}

.modal img {
    border-radius: 50%;
    margin: 4px;
    margin-right: 10px;
}

.modal li {
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
}