.container {
    padding: 0 0rem;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0px 400px */
    max-width: 700px;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.profile {
    padding: 30px 10px;
}

.lists {
    padding: 10px;
}

.profile img {
    border-radius: 50%;
    margin: 4px
}

.profile h1 {
    margin: 0px;
    margin-bottom: 6px;
}

.lists img {
    border-radius: 50%;
    margin: 4px
}

.list {
    /* border: 1px solid pink; */
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}

.list:hover {
    /* cursor: pointer; */
    background-color: #1b222a;
}

.list h4 {
    margin: 0px;
    font-size: large;
    cursor: pointer;
    /* margin-bottom: 6px; */
}



.lists ul {
    list-style-type: none;
    /* padding: 0px; */
}

.list .owner {
    /* border: 1px solid yellow; */
    align-items: center;
    display: flex;
    padding: 0px 5px;
}


.followButton,
.unFollowButton {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.unFollowButton {
    background-color: #1b222a;
    color: white;
}