.container {
    padding: 0 0rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    /* margin: 0 auto; */
    min-height: 100vh;
    height: 100%;
    border-right: 2px solid grey;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    width: 700px;
    border: 1px solid grey;
    background-color: rgb(255, 238, 213);
    border: 1px solid green;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    align-items: center;
    border: 1px solid yellow;
}

.username {
    display: block;
    margin-bottom: 10px;
}



.backArrow {
    border: none;
    color: black;
    border-radius: 50%;
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.backArrow:hover {
    background-color: rgb(246, 228, 202);
}

@media screen and (max-width: 1100px) {
    .header {
        width: calc(100% - 400px);
    }
}

@media screen and (max-width: 720px) {
    .header {
        width: 100%;
    }

}

.profile {
    padding: 30px 10px;
    margin-top: 60px;
    border-bottom: 1px solid grey;
}

.lists {
    padding: 10px;
}

.profile img {
    border-radius: 50%;
    margin: 4px
}

.profile h1 {
    margin: 0px;
    margin-bottom: 6px;
    font-size: 24px;
}

.lists img {
    border-radius: 50%;
    margin: 4px
}

.list {
    /* border: 1px solid pink; */
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.list:hover {
    /* cursor: pointer; */
    /* background-color: #1b222a; */
    background-color: rgb(210, 203, 192);
}

.list h4 {
    margin: 0px;
    font-size: large;
    cursor: pointer;
    /* margin-bottom: 6px; */
}



.lists ul {
    list-style-type: none;
    padding: 0px;
}

.list .owner {
    /* border: 1px solid yellow; */
    align-items: center;
    display: flex;
    padding: 0px 5px;
}


.followButton,
.unFollowButton {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.unFollowButton {
    background-color: #1b222a;
    color: white;
}